.vs
Cfg
WixLib
lib
Debug
Debug x64
Release
Release x64
event.mc
event.rc
event.h
event*.bin
*.vcxproj.user
*.vssscc
*.vspscc
mfilemon.zip
haufe.components.printer (x64).sln
haufe.components.printer (x86).sln
haufe.components.printer.props